<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<div >
<form th:method="post-center" th:action="@{/add}" th:object="${user}">
    <div class="container" align="center">
        <label for="name">Name</label>
        <br>
        <input style="background-color: lightblue" type="text" class="control-input col-md-6" th:field="*{name}" id="name" placeholder="Name" required>
    </div>
    <div class="container" align="center">
        <label for="password">Password</label>
        <br>
        <input style="background-color: lightblue" type="text" class="control-input col-sm-6" th:field="*{password}" id="password" placeholder="Password" required>
    </div>
    <div class="container" align="center">
        <label for="age">Age</label>
        <br>
        <input style="background-color: lightblue" type="text" class="control-input col-sm-6" th:field="*{age}" id="age" placeholder="age" required>
    </div>

</form>
</div>
<script src="test.js"></script>

</body>
</html>