<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div style="background-color: lightblue" class="container" align="center">

<h3 style="color: rebeccapurple">Enter account</h3>
</div>
<hr>
<div class="container" align="right">

<!--<a href="/login"><input type="submit" value="Log in"></a>-->
    <a class="nav-link active" href="/login"><input style="background-color: blueviolet" type="submit" value="Log in"></a>

</div>
</body>
</html>